.grey {
    background : rgb(222, 219, 219);
    height: 2000px;
    margin-top: 200px;
}

.image {
    float: right;
    width : 400px;
    position : sticky;
    top :200px;
}

.text {
    float: left;
    width: 300px;
}